/* Colors */
$blue:  #3113F2;
$light-blue: #3D9DF2;
$dark-blue: #180F50;
$green: #5EF2D7;
$white: #fff;
$grey: #ECF0F1;
$grey-2: darken($grey, 40%);
$grey-3: lighten($grey, 3%);


/* Theme */
$default: $dark-blue;
$primary: $blue;
$secondary: $green;
$border-color: $grey;

/*Radius*/
$br-6: .29rem;

/*shadows*/
$sd-primary: rgb(0 0 0 / 8%) 0px 0.2rem 0.2rem;

/*sizes*/
$sz-4: .4rem;
$sz-8: .8rem;

/*font-sizes*/
$fs-8: .8em;

/*Borders Width*/
$bd-09: .09rem;
$bd-1: .1rem;

