ul {
  padding: 0;
}

li {
  list-style: none;
  cursor: pointer;
}
.container {
  max-width: 110rem;
  margin: 0 auto;
}


.grid-template {
  width: 100%;
  display: grid;
  grid-template-areas: "header header header"
                       "aside main main"
                       "footer footer footer";
  grid-template-columns: 18rem repeat(2,auto);
  grid-template-rows: auto 30rem auto;
  gap: $fs-8;
  @media(min-width: 320px) and (max-width: 600px) {
    grid-template-areas: "header header header"
    "aside aside aside"
    "main main main";
  }
}

header {
grid-area: header;
padding: .8rem;

}

aside {
grid-area:aside;
background: $grey-3;
padding: $fs-8;
border-radius: $sz-4;
padding: $sz-4;

&__title {
  font-size: 1.2em;
  margin-bottom: .2rem;
}

}

main {
  grid-area: main;
}

.section-search {
  display: flex;
  justify-content: space-between;

}

.container-card {
  display: flex;
  flex-wrap: wrap;
  gap: .8rem;
  margin-top: $fs-8;

  @media(min-width: 320px) and (max-width: 600px) {
    justify-content: center;
  }

}

input[type="search"] {
  width: 100%;
  height: 2.5em;
  padding: $sz-4;
  margin-bottom: .8rem;
  border-radius: $br-6;
  border: .1rem solid;
  border-color: $default;

  &:focus {
    border-color: $green;
  }

}

.card {
  width: 22rem;
  height: 20rem;
  border-radius: $br-6;
  border: 1px solid $default;

   h4 {
    color: $grey-2;
    font-size: $fs-8;
    text-transform: uppercase;
    margin-top:.4em;

    &:first-child {
      margin-top: 0;
    }
  }



  h3 {
    color: $grey;
    font-size: .9em;

    &::selection {
      @extend %selectionBg;
    }

  }

  h3 span {
    color: $green;

    &::selection {
      @extend %selectionBg;
    }

  }

  &__title {
    font-size: 1em;
    color: #fff;
    border-bottom: 1px solid $default;
    margin-bottom: .3rem;

    &::selection {
      @extend %selectionBg;
    }

  }

  &__header {
    background: $default;
    height: calc(4rem - 1rem);
    padding: .6rem;
  }

  &__body {
    padding: .6rem;
  }

  @media(min-width: 320px) and (max-width: 600px) {
    max-width: 18rem;
  }

}


.menu {

  &__title {
    background: $default;
    color: $grey-3;
    border-radius:  $br-6;
    padding: $sz-4;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 1.01em;
}

ul {
  background: white;
  border-radius: 0 0 $br-6 $br-6;
  padding: $sz-4;
  box-shadow: rgb(0 0 0 / 8%) 0px 0.2rem 0.2rem;

  li {
    padding: $sz-4 .3rem;
    border-bottom: .1rem solid $grey;

    &:last-child {
      border-bottom: none;
    }

    &::first-letter {
      text-transform: uppercase;
    }

  }
}
}

